<%- include('../partials/__head.ejs') %>
<body>
    <div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="main-panel w-100">
            <div class="content-wrapper d-flex align-items-center justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Data fasilitas</h4>
                        <p class="card-description">
                            Basic form layout for editing news
                        </p>
                        <form action="/fasilitas/update/<%= id %>" method="POST" enctype="multipart/form-data" class="forms-sample">
                            <div class="form-group">
                                <label for="gambar_fasilitas">Foto fasilitas</label>
                                <input type="file" class="form-control" id="gambar_fasilitas" name="gambar_fasilitas">
                                <img src="/images/fasilitas/<%= data.gambar_fasilitas %>" height="100" width="150" alt="Gambar album lama"/>
                            </div>
                            <div class="form-group">
                                <label for="nama_fasilitas">Judul fasilitas</label>
                                <input type="text" class="form-control" id="nama_fasilitas" name="nama_fasilitas" value="<%= data.nama_fasilitas %>" required>
                            </div>
                            <div class="form-group">
                                <label for="deskripsi_fasilitas">Deskripsi fasilitas</label>
                                <textarea class="form-control" id="deskripsi_fasilitas" name="deskripsi_fasilitas" rows="4" required><%= data.deskripsi_fasilitas %></textarea>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="nama_admin" name="nama_admin" value="<%= data2.nama_admin %>" readonly>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                            <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- container-scroller ends -->
<%- include('../partials/__foot.ejs') %>
</body>
</html>
